service vendor.power-default /apex/com.android.hardware.power/bin/hw/android.hardware.power-service.intel
    interface aidl android.hardware.power.IPower/default
    class hal
    user nobody
    group system
